.login-container {
    width: 500px;
    margin: 50px auto;
  }
  
  .login-form {
    padding: 40px;
    height: 400px;
    background: linear-gradient(to right, #120d0e, #1c6291);
    border-radius: 20px;
    color: #fff;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }
  
  .login-heading {
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .login-input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 16px;
    outline: none;
    transition: background-color 0.3s ease;
  }
  
  .login-input::placeholder {
    color: #ddd;
  }
  
  .login-input:focus {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .login-button {
    width: 52%;
   margin-left: 25%;
    padding: 15px;
    background-color: #ff4e50;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #fc913a;
  }
  
  .signup-link {
    text-align: center;
    margin-top: 20px;
    color: #fff;
  }
  
  .signup-link button {
    background: none;
    border: none;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .welcome-section {
    text-align: center;
    margin-top: 50px;
  }
  
  .welcome-heading {
    font-size: 24px;
    font-weight: bold;
    color: #000;
  }
  
  .welcome-text {
    margin-top: 20px;
    color: #666;
  }
  